.dg-background {
  background-color: rgb(67, 80, 85);
}

.week-style {
  height: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.page-style {
  margin-left: 1rem;
  margin-right: 1rem;
}

.font-size {
  font-size: 0.8rem;
}

.nav-bar-style {
  margin: auto;
  width: 75%;
}

.nav-bar {
  height: 2.5rem;
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;

  /* z-index: 1000; */
}
