.dg-background {
  background-color: rgb(67, 80, 85);
}

.week-style {
  height: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.page-style {
  margin-left: 1rem;
  margin-right: 1rem;
}

.font-size {
  font-size: 0.8rem;
}

.rep-font {
  font-size: 1.5rem;
}

.nav-bar-style {
  margin: auto;
  width: 75%;
}

.nav-bar {
  height: 2.5rem;
}

.timer-font {
  margin-top: 5px;
  font-size: 4rem;
  color: aliceblue;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 5px;
}

.link-style {
  color: aliceblue;
  cursor: pointer;
}

.button-style {
  background-color: aliceblue;
  border-radius: 5px;
  border: black;
}

.x-box {
  border: solid 1px black;
  margin-top: 1px;
  margin-right: 1px;
  font-size: 1rem;
  height: 20px;
  width: 20px;
}
