.dg-background {
  background-color: rgb(67, 80, 85);
}

.dg-background-active {
  background-color: rgb(67, 80, 85);
  border-radius: 5px;
  height: 36px;
  font-weight: bold;
}

.dg-background-title {
  background-color: rgb(67, 80, 85);
  border-radius: 5px;
}

.week-style {
  height: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.page-style {
  margin-left: 1rem;
  margin-right: 1rem;
}

.font-size {
  font-size: 0.8rem;
}

.rep-font {
  font-size: 1.5rem;
}

.nav-bar-style {
  margin: auto;
  width: 75%;
}

.nav-bar {
  height: 2.5rem;
}

.nav-bar-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .nav-bar-active {

} */

.timer-font {
  margin-top: 5px;
  font-size: 4rem;
  color: aliceblue;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 5px;
}

.link-style {
  color: aliceblue;
  cursor: pointer;
}

.button-style {
  background-color: aliceblue;
  border-radius: 5px;
  border: black;
}

.x-box {
  cursor: pointer;
  border: solid 1px black;
  border-radius: 5px;
  margin-top: 1.5px;
  margin-right: 1.5px;
  padding-left: 3.5px;
  padding-top: 1px;
  font-size: 1rem;
  height: 20px;
  width: 20px;
  line-height: 1;
}

.start-button {
  color: aliceblue;
  background-color: rgb(67, 80, 85);
  border: none;
  border-radius: 5px;
}

.stop-watch {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(67, 80, 85);
  border: solid 2px black;
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

.stop-watch-start {
  cursor: pointer;
  color: #7eb09b;
}

.stop-watch-reset {
  cursor: pointer;
  color: #2d7dd2;
}

.stop-watch-stop {
  cursor: pointer;
  border: solid 2px black;
  background-color: #c14953;
  width: 37.961px;
  height: 33.219px;
  border-radius: 5px;
}

.link-style-stopwatch {
  color: rgb(67, 80, 85);
  text-decoration: none;
}

.logo-style {
  background-color: rgb(67, 80, 85);
  border-radius: 50%;
  color: #e0f805;
  margin-left: 0.5rem;
  padding-left: 6px;
  padding-top: 2px;
  width: 30px;
  height: 30px;
}

.logo-header {
  color: #e0f805;
  background-color: rgb(67, 80, 85);
}

.user-style {
  text-decoration: underline;
}

.sign-out-style {
  padding: 2px;
  color: aliceblue;
  font-style: oblique;
  font-weight: bold;
  border-radius: 3px;
  background-color: rgb(67, 80, 85);
  cursor: pointer;
  border: 1px solid black;
}
